<a href="https://colab.research.google.com/github/subhra-15/Introduction-to-Machine-Learning/blob/master/Data%20Exploration%20and%20Preprocessing/3_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Correlation**
It is a measure of dependencies or association between two variables i.e how does one variable changes with respect to other
Correlation refers how close two variables are to have a linear relationship with each other

There are three types of correlation:-
1. Positive Correlation: if One variable increases then other variable also increases
2. Negative Correlation: If one variable increases then other variable decreases 
3. Zero Correlation: Change in one variable doesn't affect other variable
**The value of correlation always lies between -1 to +1**

In [ ]:
#importing the dataset
from google.colab import files
  
  
uploaded = files.upload()

Saving Transformed_Housing_Data[1].csv to Transformed_Housing_Data[1].csv

In [ ]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['Transformed_Housing_Data[1].csv']))
df

               ID  Sale Price  ...  Ever Renovated  Years Since Renovation
0      7129300520    221900.0  ...              No                       0
1      6414100192    538000.0  ...             Yes                      26
2      5631500400    180000.0  ...              No                       0
3      2487200875    604000.0  ...              No                       0
4      1954400510    510000.0  ...              No                       0
...           ...         ...  ...             ...                     ...
21604   263000018    360000.0  ...              No                       0
21605  6600060120    400000.0  ...              No                       0
21606  1523300141    402101.0  ...              No                       0
21607   291310100    400000.0  ...              No                       0
21608  1523300157    325000.0  ...              No                       0

[21609 rows x 21 columns]

In [ ]:
# METHOD 1 to find correlation
df['Sale Price'].corr(df['Flat Area (in Sqft)'])

0.6951704258420673

In [ ]:
import numpy as np
np.corrcoef(df['Sale Price'],df['Flat Area (in Sqft)'])

array([[1.        , 0.69517043],
       [0.69517043, 1.        ]])

# **Correlation among multiple variable**

In this we will be having crosscorrelation
Since in Crosscorrelation all the diagonal element will be one since crosscorrelation with itself is one

In [ ]:
df.drop(columns=['ID']).corr()

                                           Sale Price  ...  Years Since Renovation
Sale Price                                   1.000000  ...                0.065907
No of Bedrooms                               0.339407  ...               -0.007198
No of Bathrooms                              0.535124  ...                0.003551
Flat Area (in Sqft)                          0.695170  ...                0.023503
Lot Area (in Sqft)                           0.101319  ...                0.013835
No of Floors                                 0.298913  ...               -0.000901
No of Times Visited                          0.356114  ...                0.093546
Overall Grade                                0.680914  ...               -0.024388
Area of the House from Basement (in Sqft)    0.606527  ...                0.010491
Basement Area (in Sqft)                      0.307513  ...                0.029158
Age of House (in Years)                     -0.064306  ...                0.203375
Zipcode                                     -0.043047  ...                0.049659
Latitude                                     0.402430  ...                0.019739
Longitude                                    0.045401  ...               -0.055039
Living Area after Renovation (in Sqft)       0.629944  ...               -0.008390
Lot Area after Renovation (in Sqft)          0.092325  ...                0.011289
Years Since Renovation                       0.065907  ...                1.000000

[17 rows x 17 columns]

# **Correlation between independent variable**

STRONG CORRELATION: if correlation>0.55 it is termed as strong correlation

Why we need to find correlation between independent variables

*  Two independent variables that are highly correlated with each other and also highly correlated with the dependent variable then using both the variables in the model may result in suboptimal or poorly understood model
*   The model will most likely use one of those highly correlation variable in the equation and may consider the other variable as statistically insignificant variable